/* ================
Layout
=================*/

/* AdminPage Wrapper*/
.container-admin {
    margin: 0 auto;
}
  
.container-flex-row {
    display: flex;
    justify-content: space-between;
}

/* Admin Main */
.container-admin-main {
    width: 100%;
}

.main-wrapper {
    padding: 1em;
}





