/* ====================
Layout Avatar Btn Header adminpage
=====================*/
.avatar-btn-wrapper {
    position: relative;
    align-items: center;
}

.avatar-divider,
.avatar-username-text {
    display: none;
}

.avatar-btn {
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin-left: 1em;
    background-image: url("../../public/img/undraw_profile_2.svg");
    background-size: cover;
    background-repeat: no-repeat; 
}

.avatar-btn:focus,
.avatar-btn:active {
    box-shadow: none;
}

@media (min-width:730px) {
    .avatar-divider {
        display: inline;
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;
    }

    .avatar-btn {
        margin: 0;
    }
}

@media (min-width:1000px) {
    .avatar-username-text {
        display: inline;
        margin: 0;
        padding-right: 1em;
    }

    .avatar-btn {
        margin: 0;
    }
}

/* Dropdown - Avatar */
.dropdown-avatar {
    position: absolute;
    top: 4em;
    right: 0em;
    width: 260%;
    max-width: 150px;
    background: #fff;
    border-radius: .35em;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, 0.185);

    .dropdown-avatar-item {
        padding: .7em;
        text-decoration: none;

        &:first-child {
            border-top-left-radius: .35em;
            border-top-right-radius: .35em;
        }

        &:last-child {
            padding: 1em;
        }

        &:hover {
            background: #f0f0f0;
        }
        
        .wrapper-item-icon {
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .wrapper-item-body {
            width: 75%;
            line-height: 1.2rem;
        }
    }
    
    .avatar-logout-btn {
        width: 100%;
        border: 0;
        background: #fff;
        border-top: 1px solid #eeeeee;
        border-bottom-left-radius: .35em;
        border-bottom-right-radius: .35em;

        &:focus,
        &:active {
            box-shadow: none;
        }
    }
    
}

