/* ================
Layout
=================*/
button {
    width: 100%;
    color: color("light-primary");
    border: 0;
    border-radius: 10rem;
    padding: .8em;
    margin: .5em 0;
    background: color("primary");
    box-shadow: 0 0 1.50rem .5rem color("box-shadow");

    &:hover {
        background: color("primary-accent");
    }
}

/* Login Buttons */
.btn-login {

    &.login-email {
        background: #4e73df;
    
        &:hover {
            background: #2c5ae6;
        }
    }
    
    &.login-google {
        background: #EA4335;
    
        &:hover {
            background: #e42412;
        }
    }
    
    &.login-facebook {
        background: #3B5998;
    
        &:hover {
            background: #1748b3;
        }
    }
}

/* Admin Sidebar Button */
.btn-admin-sidebar {
    color: #fff;
    background-color: #1cc88a;
    padding: .25em .5em;
    border: 0;
    border-radius: .2em;
    margin-bottom: .8em;

    &:hover {
        background-color: #17b67c;
    }
}

/* Admin Header Button */
.btn-admin-header {
    border: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin: 0 .4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;

    &:hover {
        background-color: color("transparent");
    }

    &.btn-toggle:hover {
        background-color: rgba(153, 175, 199, 0.219);
    }
}

/* material-icons */
.material-icons-outlined { 
    color: color("light-primary");
    font-size: 1.1rem;
  
    &.md-24 { 
      font-size: 1.5rem;
    }
  
    &.bold { 
      font-weight: weight("bold");
    }
  
    &.c-grey { 
      color: color("accent");
      
      &:hover {
        color: color("accent-two");
      }
    }
  
    &.c-primary {
      color: color("primary");
    }
}
