/* ====================
Layout Search Btn Header Adminpage
=====================*/
.search-btn:focus,
.search-btn:active {
    box-shadow: none;
}

.search-form-btn-wrapper {
    position: relative;
}

.wrapper-form-admin {
    position: absolute;
    top: 4em;
    right: -6em;
    width: 660%;
    padding: .5em;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

@media (min-width: 730px) {
    .search-btn,
    .wrapper-form-admin {
        display: none;
    }
}