/* ================
Typografy
=================*/

body {
  font-family: font("secondary");
}

h1,
h2,
h3 {
  font-family: font("primary");
  font-weight: weight("bold");
  margin-top: 0;
}

h6 {
  font-weight: weight("regular");
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
  cursor: default;
}

strong {
  font-weight: weight("bold");
}

button,
input {
  font-family: font("secondary");
  font-size: 1rem;
}

/* Article */
.article-title {
  font-size: 2.5rem;
  color: color("accent");
}

@media (min-width: 730px) {
  .article-title {
    font-size: 3.5rem;
  }
}

.article-info,
.article-read-more {
  font-size: .875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: weight("bold");
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.widget-title,
.widget-recent-post-title {
  font-size: 1rem;  
}

.widget-title {
  font-size: 1rem;
  font-family: font("secondary");
  font-weight: weight("bold");
}

.widget-recent-post-title {
  font-weight: weight("medium");
}

/* Login */
.login-section-title {
  font-size: 1.5rem;
  font-weight: weight("regular");
}

.checkbox-label {
  font-size: .8rem;
  margin-left: .5em;
}

.forgot-password-link {
  font-size: .8rem;
  text-decoration: none;
}

/* AdminPage - Sidebar */
.sidebar-nav,
.sidebar-nav-title {
  color: color("light-primary");
  text-decoration: none;
  text-align: center;
}

.sidebar-nav-title {
  font-size: 1rem;
  font-weight: weight("bold");
}

.sidebar-nav-item {
  opacity: 80%;
  color: color("light-primary");
  text-decoration: none;
}

.sidebar-nav-item:hover,
.sidebar-nav-item:focus {
  opacity: 100%;
  color: color("light-primary");
  outline: none;
}

.sidebar-nav-item,
.sidebar-heading,
.sidebar-textbox-text {
  font-size: .7rem;
}

.sidebar-heading,
.sidebar-textbox-text {
  font-weight: weight("bold");
  opacity: 50%;
}

.current-page-admin {
  opacity: 100%;
  font-weight: weight("bold");
}

.current-page-admin:hover,
.current-page-admin:focus {
  color: color("light-primary");
}

/* Dropdown */
.item-body-text {
  font-size: .95rem;
  color: color("accent");
  font-weight: weight("medium-light");
}

.item-body-price {
  font-size: .7rem;
  color: color("text-light");
  font-weight: weight("medium-light");
  margin: 0;
}

/* Footer */
.footer-text {
  font-size: .9rem;
}
