@function color($color-name) {
  @return map-get($theme-colors, $color-name);
}

@function font($font-name) {
  @return map-get($font-families, $font-name);
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

/* Colors */
$theme-colors: (  
  "admin-primary": #4e73df,
  "accent": #2B044D,
  "accent-two": #450B78,
  "primary": #8F1BDC,
  "secondary": rgb(18, 207, 81),
  "text": #707B8E,
  "text-light": #aaaaaa,
  "light-primary": #fff,
  "light-accent": #f8f9fc,
  "background": #eefeff,
  "border" : #eeeeee,
  "border-two" : #90a1d3b0,
  "border-three": rgba(255, 255, 255, 0.15),
  "box-shadow": rgba(0, 0, 0, 0.15),
  "box-shadow-active": rgba(25, 114, 216, .219),
  "success": #1cc88a,
  "alert": #f6c23e,
  "warning": #EA4335,
);

/* Fonts */
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$font-families: (
  "primary": $primary-font,
  "secondary": $secondary-font,
);

$font-weights: (
  "light": 200,
  "regular": 400,
  "medium-light": 500,
  "medium": 600,
  "bold": 700,
);

$jsk: (
  "primary-hover": #2c5ae6,
  "accent-two-hover": #1748b3,
  "warning-hover": #e42412,
  "color-3": #f8f9fc,
  "color-7": #f0f0f0,
  "light-secondary": #d8d8d8,
  "color-1": #707070,
  "color-2": #000,
  "color-4": #0000001A,
  "color-5": #143774, //front
  "color-6": #1792d2, //front
 
  "background-color": transparent,
  "background-color-1": rgba(153, 175, 199, 0.219),
    
  "border": 20px solid #efefef,
  "border-bottom": 1px solid #70707057, //front
  "border-bottom-1": 1px solid #eeeeee,
  "border-top": 1px solid rgba(0, 0, 0, 0.1),
  "caret-color": #70707057,
)