@import './resets';
@import './variables';
@import './typografy';
@import './adminPage';
@import './avatarBtn';
@import './buttons';
@import './footer';
@import './forms';
@import './home';
@import './loginPage';
@import './ShoppingBagBtn';
@import './notificationsBtn';
@import './menuBtn';
@import './searchFormBtn';
@import './sidebar';

body {
  margin: 0;
  font-size: 1rem;
  color: color("text");
}

img {
  max-width: 100%;
  display: block;
}

hr {
  border: 0;
  width: 100%;
  margin-bottom: 1em;
}

/* ================
Layout
=================*/

.container {
  width: 85%;
  margin: 0 auto;
}

.container-1200 {
  max-width: 1200px;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 730px) {
  .container-flex {
    flex-direction: row;
  }

  .container-main {
    width: 70%;
  }

  .container-sidebar {
    width: 25%;
    min-width: 200px;
    margin-left: 1em;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

@media (max-width: 730px) {
  .columns {
      flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8 {
      width: 100%;
  }
}
