@import './variables';

/* Dropdown - Notifications */
.dropdown-shoppingBag {
    width: 600%;
    max-width: 320px;
    position: absolute;
    top: 4em;
    left: 0em;
    z-index: 200;
    background: color("light-primary");
    border-radius: .35em;
    box-shadow: 0 .15rem 1.75rem 0 color("box-shadow");


    .dropdown-item {
        padding: .7em;
        text-decoration: none;
        border-bottom: 1px solid color("border");

        &:first-child {
            border-top-left-radius: .35em;
            border-top-right-radius: .35em;
        }

        &:last-child {
            padding: .6em;
            justify-content: center;
            border-bottom-left-radius: .35em;
            border-bottom-right-radius: .35em;
        }

        &:hover {
            background: color("border");
        }

        .wrapper-item-img {
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;

            .item-img {   
                height: 2.5rem;
                width: 2.5rem;
                border-radius: .35em;
                display: flex;
                align-items: center;
                justify-content: center; 
    
                &.bg-primary {   
                    background: color("primary");
                }
                
                &.bg-secondary {   
                    background: color("success");
                }
                
                &.bg-warning {
                    background-color: color("alert");
                }
            }
        }
        
        .wrapper-item-body {
            width: 75%;
            line-height: 1.2rem;
        }
    } 
}

@media (min-width: 730px) {

    .dropdown-shoppingBag {
        left: -14em;
    }
}