@import './variables';

/* Footer Layout */
footer {
    background: color("light-primary");
    text-align: center;
    padding: 3em 0;
    
    .footer-form {
        border-bottom: 1px solid color("border");
        padding-bottom: 1em;
    }
    
    .footer-text {
        margin-top: 1em;
    }

    @media (min-width:730px) {
        input {
            width: 70%;
            margin-right: 2em;
        }
        button {
            width: 25%
        }
    }
    
}
