@import './variables';

/* Admin Search Form */
.form-admin {
    min-height: 2.1112em;
    display: flex;
}

.form-admin-input {
    width: 100%;
    background-color: color("light-accent");
    border: 0;
    border-bottom-left-radius: 0.35em;
    border-top-left-radius: 0.35em;
    padding: 0 1.2em;
    outline: none;
}

.form-admin-button {
    color: color("light-primary");
    background-color: color("admin-primary");
    padding: .2em .8em 0 .8em;
    border: 0;
    border-bottom-right-radius: 0.35em;
    border-top-right-radius: 0.35em;
}

