@import './variables';

/* Layout Header HomePage */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 5.5em;
    background: color("transparent");
    padding: 1em 0;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.5s;
    
    &.small {
        min-height: auto;
        padding: .7em 0;
        background: color("light-primary");
        box-shadow: 0 .15rem 0.75rem 0 color("box-shadow");

        .site-title {
            color: color("dark-primary");
        }
        .material-icons-outlined {
            color: color("text");
        }

        .site-nav-bar {
            .nav-ul {
                .nav-li {
                    .nav-a{
                        color: color("text");

                        &:hover,
                        &:focus {
                            color: color("text");
                        }
                    }

                    .current-page {
                        color: color("text");
                        border-bottom: .14rem solid color("text-light");
                    }
                }
            }
        }
    }

    .site-title {
        display: flex;
        align-items: center;
        color: color("light-primary");

        .site-logo {
            width: 2.5em;
            height: 2.5em;
            margin-right: .7em;
            border-radius: 100%;
            border: .14rem solid;
        }
    }

    /* Navigation */
    .site-nav-bar {
        display: none;

        .nav-ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .nav-li {
                display: flex;
                align-items: center;
                margin: 0 1em;

                .nav-a {
                    text-decoration: none;
                    color: color("text-light");
                    font-family: font("primary");
                    padding: .25em 0;
        
                    &:hover,
                    &:focus {
                        color: color("light-primary");
                    }
                }
                
                .current-page {
                    color: color("light-primary");
                    border-bottom: .14rem solid color("light-primary");
                }
            }
        }   
    }

    @media (min-width: 730px) {
        
        .toggle-menu-wrapper {
            display: none;
        }
        
        .site-title {
            order: 1;
        }

        .site-nav-bar {
            display: flex;
            order: 2;
        }

        .shoppingBag-wrapper {
            display: none;
        }

    }
    
}

/* Layout Header AdminPage */
.header-admin {
    width: 100%;
    background: color("light-primary");
    padding: 1em 0;
    margin-bottom: 3em;
    box-shadow: 0 .15rem 1.75rem 0 color("box-shadow");

    /* Topbar Search */
    .display-none-sx {
        display: none;
    }
    
    .nav-ul-admin {
        width: 85%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    
    .nav-li-admin {
        padding: 0;
    }
    
    @media (min-width: 730px) {
        .btn-toggle {
            display: none;
        }
    
        .display-none-sx {
            min-height: 2.1112em;
            display: flex;
        }
    
        .toggle-search-wrapper {
            width: 60%;
            max-width: 420px;
        }
    
        .nav-ul-admin {
            width: 35%;
        }
    
    }
}
