@import './variables';

/* Layout Header HomePage */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 5.5em;
    background: color("light-primary");
    padding: 1em 0;
    box-shadow: 0 .15rem 0.75rem 0 color("box-shadow");
    position: sticky;
    top: 0;
    z-index: 1;

    .site-title {
        display: flex;
        color: color("accent");

        .site-logo {
            width: 2.3em;
            height: 2.3em;
            background-image: url("../../public/img/logo.png");
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    }

    /* Navigation */
    .site-nav-bar {
        display: none;

        .nav-ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .nav-li {
                display: flex;
                align-items: center;
                margin: 0 1em;

                &:last-child {
                    margin: 0;
                }

                .nav-a {
                    text-decoration: none;
                    color: color("accent-two");
                    font-family: font("secondary");
                    font-weight: weight("regular");
                    padding: .25em 0;
        
                    &:hover,
                    &:focus {
                        font-weight: weight("bold");
                    }
                }
                
                .current-page {
                    font-weight: weight("bold");
                }
            }
        }   
    }

    @media (min-width: 730px) {
        
        .toggle-menu-wrapper {
            display: none;
        }
        
        .site-title {
            order: 1;
        }

        .site-nav-bar {
            display: flex;
            order: 2;
        }

        .shoppingBag-wrapper {
            display: none;
        }

    }
    
}

/* Layout Header AdminPage */
.header-admin {
    width: 100%;
    background: color("light-primary");
    padding: 1em 0;
    margin-bottom: 3em;
    box-shadow: 0 .15rem 1.75rem 0 color("box-shadow");

    /* Topbar Search */
    .display-none-sx {
        display: none;
    }
    
    .nav-ul-admin {
        width: 85%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    
    .nav-li-admin {
        padding: 0;
    }
    
    @media (min-width: 730px) {
        .btn-toggle {
            display: none;
        }
    
        .display-none-sx {
            min-height: 2.1112em;
            display: flex;
        }
    
        .toggle-search-wrapper {
            width: 60%;
            max-width: 420px;
        }
    
        .nav-ul-admin {
            width: 35%;
        }
    
    }
}
