@import './variables';

/* Articles */
.container-color {
    background-color: color("background");
    padding-top: 3em;
    display: grid;
    
    .container {
        position: relative;
    }

    .article-main-body {
        text-align: center;
        display: flex;
        flex-direction: column;
        min-height: 40em;

        .article-container {
            margin: .5em 0;
        }

        .article-button {
            margin: 1em auto;
            width: 40%;
        }
    }

    .article-main-img {
        position: absolute;
        top: 23em;
        right: 0;
    }

}

.article-recent {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
}

@media (min-width: 730px) {

    .container-color {

        .article-main-body {
            width: 55%;
            text-align: start;
            min-height: 0;
            margin-top: 5em;
            
            .article-button {
                margin: 1em 0;
            }
        }
        
        .article-main-img {
            width: 45%;
            top: 1em;
        }
    }

    .article-image {
        order: -2;
    }

    .article-info {
        order: -1;
    }
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-image {
        width: 100%;
        min-height: 210px;
        object-fit: cover;
    }

}

/* Widgets */
.sidebar-widget {
    border: 20px solid color("background");
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    margin-bottom: 1em;
    border-bottom: 1px solid color("border");
}

.widget-recent-post:last-child {
    margin: 0;
    border: 0;
}
