@import './variables';

/* Login Page Layout */
.container-login-color {
    min-height: 100vh;
    background: color("admin-primary");
    display: flex;
    align-items: center;
    justify-content: center;

    .container-login-flex {
        margin: 0 auto;
    
        .login-section {
            background: color("light-primary");
            text-align: center;
            border-radius: .3em;
            padding: 2em;
            box-shadow: 0 6px 20px 0 color("box-shadow");
        
            &:first-child {
                display: none;
            }
            
            .login-section-title {
                padding-bottom: .5em;
            }
            
            /* Form */
            .form-group {
                display: flex;
                flex-direction: column;
            }
            
            /* Checkbox */
            .checkbox-group {
                display: flex;
                text-align: left;
                margin: 1em;

                .checkbox-input {
                    width: 4%;
                }

                .checkbox-label {
                    width: 50%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@media (min-width:800px) {
    .container-login-color {
        .container-login-flex {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .login-section {
                width: 45%;
                max-width: 470px;
                border-radius: 0 .3em .3em 0;

                &:first-child {
                    display: inline;
                    border-radius: .3em 0 0 .3em;
                    background-image: url("../../public/img/dog.jpg");
                    background-size: cover;
                    background-position: bottom;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
