@import './variables';

/* Shopping Bag */
.shoppingBag-icon-wrapper {
    position: relative;

    .shoppingBag-btn:focus,
    .shoppingBag-btn:active {
        box-shadow: none;
    }

    /* Badge */
    .badge {
        height: 1.5rem;
        width: 1.5rem;
        font-size: .8rem;
        font-weight: 700;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 

        &.badge-counter {
            position: absolute;
            top: 0;
            transform: scale(.7);
            right: 0;
    
            &.badge-danger {
                background: color("primary");
                color: color("light-primary");
            }
        }
    }
}
